main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.game-win {
    background-color: rgb(171, 255, 216);
}

.game-loss {
    background-color: rgb(255, 134, 134);
}

.cards-container {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
}