main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cards-container {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
}